<div class="col-lg-4 col-xs-12 xs-nopadding" id="ExamlistId1">
    <div class="widget-exam-status">
        <div class="col-lg-6 col-md-6 col-sm-6 nopadding">
            <h4 class="widget-title">Exam Status</h4>
        </div>
        <div class="clearfix"></div>
        <div class="exam-status-content">
            <ul>
                <li>
                    <span class="exams-all"></span>
                    <div class="clearfix"></div>
                    <span class="label-exam">Exams</span>
                </li>
                <li class="divider"></li>
                <li>
                    <span class="exams-completed"></span>
                    <div class="clearfix"></div>
                    <span class="label-completed">Completed</span>
                </li>
                <li class="divider"></li>
                <li>
                    <span class="exams-inprogress"></span>
                    <div class="clearfix"></div>
                    <span class="label-progress">In Progress</span>
                </li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-lg-12">
            <div class="hr-grey-exam-status">
            </div>
        </div>
        <div class="col-lg-12 text-center">

            <button class="btn btn-cta martop10" id="ExamHistoryPageRedirect">View Exam History</button>

        </div>
    </div>
</div>


<div class="col-lg-3" id="ExamlistId2" style="display:none">
   <div class="widget-noexam-status text-left">
                  <h4 class="widget-title">Exam Status</h4>
       <div class="clearfix"></div>
     
       <div class="text-center martop30">0</div>           

          
           </div>
       </div>
