
<div class="col-lg-4 martop30 xs-nopadding addnormaltopscore avgblock" id="PerformanceSummeryId" style="display:none">
    <div class="average-performance">
        <div class="col-lg-12 nopadding">
            <h4 class="widget-title">Exam Performance Summary</h4>
        </div>
        <div class="col-lg-12 nopadding">
            <h4 class="widget-title1">Simulated Exams</h4>
            <div class="hr-grey">
            </div>
        </div>



        <div class="col-lg-5 col-sm-6 text-center martop30 marbot30 nopadding">
            <span>Your Average Score</span>
            <h2 class="simulatedAvgScore"></h2>
        </div>

        <div class="col-lg-7 col-sm-6 martop30 marbot30 xs-nopadding nopadding">
            <li>
                <label>
                    Total Attempted Questions
                </label>
                <span class="simulaterdAttemptQuestion"></span>
            </li>
            <li>
                <label>
                    Correct
                </label>
                <span class="simulatedCorrectAnswer"></span>
            </li>
            <li>
                <label>
                    Incorrect
                </label>
                <span class="simulatedIncorrectAnswer"></span>
            </li>


        </div>


        <div class="col-lg-12 martop30 nopadding">
            <h4 class="widget-title1">Custom Exams</h4>
            <div class="hr-grey">
            </div>
        </div>


        <div class="col-lg-5 col-sm-6 text-center martop30 marbot30 nopadding">
            <span>Your Average Score</span>
            <h2 class="customAvgScore"></h2>
        </div>

        <div class="col-lg-7 col-sm-6 martop30 marbot30 xs-nopadding nopadding">
            <li>
                <label>
                    Total Attempted Questions
                </label>
                <span class="customAttemptQuestion"></span>
            </li>
            <li>
                <label>
                    Correct
                </label>
                <span class="customCorrectAnswer"></span>
            </li>
            <li>
                <label>
                    Incorrect
                </label>
                <span class="customInCorrectAnswer"></span>
            </li>

        </div>

        <div class="clearfix">
        </div>
    </div>
</div>
