
@{
    ViewBag.Title = "AboutPage";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 xs-nopadding">
            <ul class="breadcrumb">
                <li class="active">About the Program</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-12 xs-nopadding">
    <div class="content-bg">
        <div class="content-padding">
            <h2 class="about-title" id="aboutProgram">About the Program</h2>
            <p class="discussion-content martop20">
                The BCSC Self-Assessment Program fulfills the need of ophthalmology residents studying for ABO qualifying and OKAP exams during their training. It also serves practicing ophthalmologists who need to continuously improve their knowledge in order to provide quality medical care.
            </p>

            <h3 class="about-title">Getting Started</h3>
            <p class="discussion-content">
                Begin by creating an exam with settings of your choice from the Build Exam page. In a hurry? Choose the Quick Exam type to get started with minimal delay and default settings selected for you.
            </p>

            <h3 class="about-title">Physician Leaders</h3>
            <p class="discussion-content">Christopher J. Rapuano, MD, Senior Secretary for Clinical Education</p>
            <p class="discussion-content">J. Timothy Stout, MD, PhD, MBA, Secretary for Lifelong Learning and Assessment</p>
            <p class="discussion-content">Colin A. McCannell, MD, BCSC Course Chair</p>
            <p class="discussion-content">See Authors and Disclosures for additional contributors</p>

            <hr>

            <h2 class="about-title" id="authors">Authors and Disclosures</h2>
            <p class="discussion-content martop20">The Academy thanks the following members of the Resident Self-Assessment Committee who contributed to this program:</p>
            <p class="discussion-content">Resident Self-Assessment Committee 2024</p>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <ul class="authors-list">
                        <li>Amanda D. Henderson, MD (Chair) </li>
                        <li>Abdelrahman M Elhusseiny, MBBCH</li>
                        <li>Amr Khaled Hassan, MBCHBArjan S. Hura, MD</li>
                        <li>Benjamin Kuhar, DO</li>
                        <li>Chaow Charoenkijkajorn, MD</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <ul class="authors-list">
                        <li>Courtney L. Kraus, MD</li>
                        <li>Emma K. Loucks, MD</li>
                        <li>Jamie B. Rosenberg, MD</li>
                        <li>Jeong-Hyeon Sohn, MD</li>
                        <li>Kammi B. Gunton, MD</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <ul class="authors-list">
                        <li>Kevin Halenda, MD</li>
                        <li>Malcolm Kates, MD</li>
                        <li>Peggy H. Gramates, MD</li>
                        <li>Roxana Fu, MD</li>
                        <li>Ruchi D. Shah, MD</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <ul class="authors-list">
                        <li>Sina John Sabet, MD</li>
                        <li>Sumit Sharma, MD</li>
                        <li>Victoria S. Chang, MD</li>
                        <li>Whitney Stuard Sambhariya, MD</li>
                    </ul>
                </div>
            </div>

            <h3 class="about-title">Wills Eye Hospital</h3>
            <p class="discussion-content martop20">The Academy also thanks the faculty at Wills Eye Hospital for donating a considerable number of questions to the program and supporting development of additional questions.</p>

            <h3 class="about-title">Financial Disclosures</h3>
            <p class="discussion-content">
                All contributors to Academy educational activities must disclose all financial relationships with any entity producing, marketing, re-selling, or distributing ophthalmic health care goods or services consumed by, or used on, patients within the previous 12 months to the Academy annually. The Academy ensures potential conflicts of interest are resolved prior to the delivery of the activity.
                All relevant financial relationships have been mitigated.
            </p>

            <h3 class="about-title">Contributors who have disclosed financial relationships:</h3>
            <p class="discussion-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <ul class="authors-list">
                            <li><b>Amanda D. Henderson, MD</b>: (C,) Horizon Therapeutics Plc.</li>
                            <li><b>Arjan S. Hura, MD</b>: (C) Alcon Laboratories, Allergan, Beaver-Visitec International, Bruder Healthcare Company, Carl Zeiss, Meditec, Glaukos, Rayner Intraocular Lenses, Tarsus Pharmaceuticals, Visus Therapeutics; (L) AcuFocus , Alcon Laboratories, Carl Zeiss Meditec, STAAR Surgical.</li>
                            <li><b>Sumit Sharma, MD</b>: (C) Abbvie, Alimera Sciences, Apellis Pharmaceuticals Bausch + Lomb, Carl Zeiss Meditec, Clearside Biomedical, EyePoint Pharmaceuticals, GENENTECH, Hoffman La Roche, Iveric Bio, Kodiak, Regeneron Pharmaceuticals, REGENXBIO, Ripple, Santen; Volk Optical (S) Acelyrin, EyePoint Pharmaceuticals, GENENTECH, Gilead Sciences, Hoffman La Roche, Ionis; Kodiak, Regeneron Pharmaceuticals, Ripple, Santen.</li>
                            <li><b>Victoria S. Chang, MD</b>: (SO), Johnson + Johnson Vision.</li>
                        </ul>
                    </div>

                </div>
            </p>
            <h3 class="about-title">Key:</h3>
            <p class="discussion-content">
                <table class="table key-grid " id="no-more-tables">
                    <thead>
                        <tr>
                            <th width="20%">Category</th>
                            <th width="20%">Code</th>
                            <th width="60%">Description </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Category">Consultant / Advisor</td>
                            <td data-title="Code">C</td>
                            <td data-title="Description">Consultant fee, paid advisory boards or fees for attending a meeting (for the past 1 year)</td>
                        </tr>
                        <tr>
                            <td data-title="Category">Lecture Fees/Speakers Bureau</td>
                            <td data-title="Code">L</td>
                            <td data-title="Description">Lecture fees or honoraria, travel fees or reimbursements when speaking at the invitation of a commercial company</td>
                        </tr>
                        <tr>
                            <td data-title="Category">Grant Support</td>
                            <td data-title="Code">S</td>
                            <td data-title="Description">Grant support or other financial support to the investigator from all sources, including research support from government agencies, foundations, device manufacturers, and/or pharmaceutical companies.</td>
                        </tr>
                        <tr>
                            <td data-title="Category">Stock Options</td>
                            <td data-title="Code">SO</td>
                            <td data-title="Description">Stock options in a private or public company</td>
                        </tr>
                    </tbody>
                </table>
            </p>
            <h3 class="about-title">Contributors who state they have no financial relationships to disclose:</h3>
            <p class="discussion-content">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <ul class="authors-list">
                            <li>Abdelrahman M. Elhusseiny, MBBCH</li>
                            <li>Amr Khaled Hassan, MBCHB, </li>
                            <li>Benjamin Kuhar, MD</li>
                            <li>Chaow Charoenkijkajorn, MD</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <ul class="authors-list">
                            <li>Courtney K. Kraus, MD</li>
                            <li>Emma K. Loucks, MD</li>
                            <li>Jamie B. Rosenberg, MD</li>
                            <li>Jeong-Hyeon Sohn, MD</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <ul class="authors-list">
                            <li>Kammi Gunton, MD</li>
                            <li>Kevin Halenda, MD</li>
                            <li>Malcolm Kates, MD</li>
                            <li>Peggy H. Gramates, MD</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <ul class="authors-list">
                            <li>Roxana Fu, MD</li>
                            <li>Ruchi D. Shah, MD</li>
                            <li>Sina John Sabet, MD</li>
                            <li>Whitney Stuard Sambhariya, MD</li>
                        </ul>
                    </div>
                </div>
            </p>
            <h3 class="sub-title">Staff who state they have no financial relationships to disclose:</h3>
            <ul class="authors-list">
                <li>Tony Ching</li>
                <li>Sian Hillier</li>
                <li>Sarah Page</li>
                <li>Kathryn Peters</li>
                <li>Donna Scism</li>
            </ul>

            <hr>

            <h2 class="about-title" id="cme">CME</h2>
            <p class="discussion-content martop20">The American Academy of Ophthalmology is accredited by the Accreditation Council for Continuing Medical Education (ACCME) to provide continuing medical education for physicians.</p>

            <p class="discussion-content">
                The American Academy of Ophthalmology designates this enduring material for a maximum of 65
                <em>AMA PRA Category 1 Credits</em>™.
                Physicians should claim only the credit commensurate with the extent of their participation in the activity.
            </p>

            <p class="discussion-content">Release date:<br />June 2018</p>

            <p class="discussion-content">Expiration date:<br />This CME activity qualifies for <em>AMA PRA Category 1 Credit</em>™ until June 1, 2027.</p>

            <p class="discussion-content">Click on “<strong>CME Credits</strong>” in the main navigation of the program to claim CME credits.</p>

            <hr>

            <h2 class="about-title" id="contact">Contact Us</h2>
            <p class="discussion-content martop20">If you have questions about the BCSC Self-Assessment Program, please contact the Academy:</p>
            <p class="discussion-content">By Phone: 866.561.8558 (U.S. only) or +1 415.561.8540</p>
            <p class="discussion-content">By E-mail: customer_service@aao.org</p>
            <p class="discussion-content">Customer Service Representatives are available to assist you Monday to Friday from 8:00 a.m. to 5:00 p.m. (Pacific Time)</p>
            <h3 class="about-title">Additional Product Support</h3>
            <p class="discussion-content">Use the “<strong>Help</strong>” link at the top of any screen to view the Help topics. From the Help Menu select a specific topic e.g. Navigation, CME Information, Notes, etc.</p>
        </div>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script>
    //Responsive tabs / accordion
    $('.responsive-tabs').responsiveTabs({
        accordionOn: ['xs', 'sm']
    });
</script>





