@{
    ViewBag.Title = "HelpPage";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 xs-nopadding">
            <ul class="breadcrumb">
                <li class="active">Help</li>
            </ul>
        </div>
    </div>
</div>

    <div class="col-lg-12 col-xs-12 xs-marbot30 xs-nopadding">
        <div class="help-wrapper">
            <h2 class="about-title">Welcome to the Basic and Clinical Science Course™ (BCSC®) Self-Assessment Program. </h2>
            <h3 class="sub-title">Getting Started</h3>
            <p class="discussion-content">Build your first exam to get started. Click on <strong>Build New Exam</strong> at the top of your Dashboard or on <strong>Build Exam</strong> at the top of the page. See the Build Exam section for more details. </p>

            <h3 class="sub-title">Dashboard</h3>
            <p class="discussion-content">When you first enter the program, you’ll see your <strong>Dashboard</strong>. The Dashboard provides a snapshot of your progress within the program. </p>

            <p class="discussion-content">On the upper left, you will see a list of any exams you have in progress and that you have not yet submitted for scoring. You can click <strong>Resume</strong> to continue any exam in progress. <strong>View All</strong> will take you to the Exam History page (also accessible from the <strong>Exam History</strong> icon at the top of the page).</p>

            <p class="discussion-content">Below <strong>Exams in Progress</strong> you will see a summary of <strong>Spaced Repetition</strong> mode. A description of spaced repetition can be expanded by clicking <strong>Learn more…</strong> The total number of questions you have answered and topics you have covered in this mode are presented, along with counts of your incorrect and correct answers in Spaced Repetition. Click Start Spaced Repetition to start answering questions in that mode. </p>

            <p class="discussion-content">On the upper right, you will see summary data about the exams you have taken. Click <strong>Exam History</strong> to go to the Exam History page, where you can access all your exams, both in progress and submitted.</p>

            <p class="discussion-content">On the lower left, you’ll see a chart of your cumulative performance by BCSC section. This chart shows the number of questions in each section that you’ve answered correctly and incorrectly and those that you have yet to answer. To compare your performance with peers, toggle <strong>Score Comparison with Peers</strong> to the ON position. If you’re a member-in-training with the Academy, your peers include other members-in-training within the same residency year as you. If you’re not a member-in-training, your peers include all other users of the program. You can filter this chart by exam type and date range. </p>

            <p class="discussion-content">On the lower right, you can view summary data about your overall performance in Custom and Simulated exams.</p>
            <p class="discussion-content">Learn more about Custom and Simulated exams in the Build Exam section.</p>

            <h3 class="sub-title">Spaced Repetition</h3>
            <p class="discussion-content">From the <strong>Spaced Repetition</strong> page, you can: view a summary of your progress in Space Repetition mode, review and export a list of the top ten recommended topics for further study based on your performance in Spaced Repetition, review BCSC excerpts for your top ten recommended topics, and review your performance in Spaced Repetition mode by BCSC section, chapters and topics. </p>

            <h3 class="sub-title">Build Exam</h3>
            <p class="discussion-content">From the <strong>Build Exam</strong> page, you can create a Custom, Simulated, or Quick exam.</p>
            <p class="discussion-content">Each exam you create will be named. You can accept the default name that the program suggests or change the name by typing in the <strong>Exam Title</strong> field. </p>

            <p class="discussion-content">You have 3 options when creating an exam:</p>
            <ul class="discussion-content">
                <li><strong>Custom exam</strong> provides the most options.</li>
                <li><strong>Simulated exam</strong> provides 260 questions randomly selected from across all the BCSC sections and a 5-hour time limit.</li>
                <li><strong>Quick exam</strong> is designed to be easy to launch and completed within a half hour, with fewer options than Custom exams.</li>
            </ul>

            <p class="discussion-content">You have several options available in custom exams, some of which are also available in quick exams:</p>
            <ul class="discussion-content">
                <li><strong>Select BCSC Section(s).</strong> This checkbox creates an exam from all BCSC sections. You can also pick one or several sections individually.</li>
                <li><strong>How Many Questions?</strong> This field accepts any number from 1 to 9999. The program will create an exam with the maximum available questions for the criteria you select, up to the number you enter in this field. For Quick exams, the default value for this field is 15.</li>
                <li><strong>Challenge Mode.</strong> When this mode is ON, you will be asked to enter your own answer to each question before seeing the multiple-choice answer options. After selecting an answer, you will be shown the correct answer and explanation.</li>
                <li><strong>Show Correct Answers.</strong> When this mode is ON, you will see the correct answer as well as the explanation and notes for every question you answer in the exam. </li>
                <li><strong>Timed Exam.</strong> When this mode is ON, your exam will have an overall time limit based on the total questions in the exam, calculated at a rate of 2 minutes per question. </li>
                <li>
                    <strong>Type of Questions.</strong> Select at least one type of question from the options provided:
                    <ul>
                        <li><strong>All questions</strong> pulls from all questions regardless of whether you’ve answered them previously. </li>
                        <li><strong>Incorrect questions</strong> includes questions you have previously answered incorrectly.</li>
                        <li><strong>Unanswered questions</strong> includes questions you have not previously answered.</li>
                        <li><strong>Bookmarked questions</strong> includes questions you have bookmarked.</li>
                    </ul>
                </li>
            </ul>
            <p class="discussion-content">Click <strong>Start Exam</strong> when you’ve selected your desired options or <strong>Cancel</strong> to clear all selections and start again.</p>

            <h3 class="sub-title">Exam</h3>
            <p class="discussion-content">To answer questions in an exam, click the radio button next to your chosen answer, or use your keyboard to select an answer (using A, B, C, and D keys). You can skip questions by leaving them unanswered. When you submit an exam, any unanswered questions will be scored incorrect. </p>
            <ul class="discussion-content">
                <li>Click <strong>Next</strong> (or N key on your keyboard) to continue or <strong>Previous</strong> (or P key) to display the prior question.</li>
                <li>Click the <strong>Create Notes</strong> icon to enter a text-based note to be saved with a question in the current exam.</li>
                <li>Click the <strong>Bookmark</strong> icon to bookmark the question. You can view bookmarked questions in <strong>Exam History</strong>. You can also create exams from your bookmarked questions.</li>
                <li>Click the <strong>Feedback</strong> icon to send a message about any question to Academy staff for review.</li>
                <li>Click <strong>View Progress</strong> during an exam to see a summary of questions that you have answered and questions that have notes and bookmarks. Click on any question number to display that question. </li>
                <li>Click <strong>Submit Exam</strong> to submit your exam for scoring. </li>
                <li>Click <strong>Save & Exit</strong> to save your progress and exit the exam.</li>
            </ul>

            <h3 class="sub-title">Exam History</h3>
            <p class="discussion-content">The Exam History page lists all completed exams and exams in progress. You can filter the exams by <strong>Completed</strong> or <strong>In Progress</strong> status. Summary information for each exam is displayed. Timed exams are indicated with a clock icon. Challenge mode exams are indicated by a checkered flag icon.</p>
            <ul class="discussion-content">
                <li>Click the title of any exam to view details for each question in the exam.</li>
                <li>Click the <strong>Arrow</strong> icon to resume any exam in progress.</li>
                <li>Click the <strong>Envelope</strong> icon to email results of any completed exam to one or more people.</li>
                <li>Click the <strong>Trashcan</strong> icon to delete an exam. When you delete an exam, all information from the exam will be deleted from your reports and cumulative performance, including notes and bookmarks.</li>
            </ul>
            <p class="discussion-content">When viewing the history for an exam, click on any question for more details. Use the <strong>Expand all</strong> switch to show details for all questions. Use the <strong>Filter by</strong> menu to view only questions that you answered incorrectly or those that have a note or bookmark.</p>

            <p class="discussion-content">In the Upper right, click <strong>Notebook</strong> to view and print notes from all of your exams. Click <strong>Search</strong> to search the full question bank for specific questions of interest. Click <strong>Reset Program</strong> to erase your data. All exam information will be deleted from your reports and cumulative performance, including your answers to questions, notes and bookmarks. </p>

                <h3 class="sub-title">Reports</h3>
            <p class="discussion-content">The <strong>Reports</strong> page provides a summary of your performance by each BCSC section. The information displayed can be filtered by date range using the<strong> Filter by</strong> menu, and you can export the report by clicking <strong>Export</strong>. </p>
            <ul class="discussion-content">
                <li>Click on the number in the Incorrect column to see questions you answered incorrectly. </li>
                <li>Click on a title in the Section column to view your performance by chapters in the related BCSC section.</li>
            </ul>
            <p class="discussion-content">Note: Go to the <strong>Build Exam</strong> page to build an exam from the questions you answered incorrectly. </p>

            <h3 class="sub-title">CME Credits</h3>
            <p class="discussion-content">From the <strong>CME Credits</strong> page, you can claim CME credit by BCSC section. Each <strong>Claim CME</strong> button will be activated once you answer at least 15 questions in the corresponding BCSC section. You may claim up to 5 CME credits for each section, for a total of 65 credits across the entire program.</p>

            <h3 class="sub-title">Feedback</h3>
            <p class="discussion-content">We’d love to hear from you. To send feedback about content in the BCSC Self-Assessment Program, please contact the Academy by email: <a href="mailto:bcscsapfeedback@aao.org" target="_blank">bcscsapfeedback@aao.org</a>.</p>

            <h3 class="sub-title">Need More Help?</h3>
            <p class="discussion-content">If you have questions about the BCSC Self-Assessment Program or any other product from the Academy, please contact the Academy’s Customer Service:</p>
            <ul class="discussion-content">
                <li>By Phone: 866.561.8558 (US only) or +1 415.561.8540</li>
                <li>By Email: <a href="mailto:customer_service@aao.org" target="_blank">customer_service@aao.org</a></li>
            </ul>

            <p class="discussion-content">Customer service representatives are available to assist you Monday to Friday from 8:00 a.m. to 5:00 p.m. (Pacific Time).</p>
        </div>
    </div>



