body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.cap {
	border-style:solid;
}
p.QR-code-caption-first {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:45px;
	margin-right:0;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-source {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:0;
	margin-left:45px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.body-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:2;
}
p.body-text--no-indent- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-last {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:6px;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-number {
	-epub-hyphens:none;
	color:#8caedc;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:2px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:always;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-title {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:27px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.185;
	margin-bottom:68px;
	margin-left:2px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.figure-caption {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2-h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.page-elements_rhr {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55 Roman", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.page-elements_rhv {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55 Roman", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.video-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.263;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-23px;
	text-transform:none;
	widows:2;
}
span.QR-code-number {
	color:#6b9bd2;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.body-text--no-indent-_accent {
	font-style:normal;
	font-weight:normal;
}
span.body-text--no-indent-_italic {
	font-style:italic;
	font-weight:normal;
}
span.body-text--no-indent-_symbol_superscript {
	font-family:"Symbol Std Medium", sans-serif;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.body-text_accent {
	font-style:normal;
	font-weight:normal;
}
span.body-text_accent_italic {
	font-style:italic;
	font-weight:normal;
}
span.body-text_italic {
	font-style:italic;
	font-weight:normal;
}
span.cn-chap {
	color:#8caedc;
	font-size:13px;
	font-variant:normal;
	text-transform:uppercase;
}
span.figure-caption_bold {
	font-style:normal;
	font-weight:bold;
}
span.figure-caption_italic {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.figure-number {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.figure-source-note {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.fm-obejctives-bullet {
	color:#f9c647;
}
span.qr-code-source_italic {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.rh-bullet {
	font-family:"Mathematical Pi LT Std Regular", sans-serif;
	font-size:5px;
	font-style:normal;
	font-weight:normal;
}
span.rh-chap-num {
	font-size:7px;
	font-variant:small-caps;
	text-transform:none;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
	margin-bottom:70px;
	text-align:left;
}
span.CharOverride-1 {
	font-size:65%;
}
span.CharOverride-2 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-3 {
	font-size:9px;
	font-variant:normal;
	text-transform:none;
}
#_idContainer001 {
	display:inline-block;
	height:25px;
	width:25px;
}
#_idContainer002 {
	display:inline-block;
	height:36px;
	width:36px;
}
#_idContainer006 {
	-ms-transform:translate(0.000px,232.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,232.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,232.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,232.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer007 {
	-ms-transform:translate(28.724px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(28.724px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:235.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(28.724px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(28.724px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:314.55px;
	z-index:0;
}
#_idContainer008 {
	display:inline-block;
	height:259px;
	position:relative;
	width:372px;
}
#_idContainer009 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:323.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.01px;
	z-index:0;
}
#_idContainer010 {
	-ms-transform:translate(0.010px,321.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.010px,321.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.010px,321.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.010px,321.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer011 {
	display:inline-block;
	height:347px;
	position:relative;
	width:372px;
}
#_idContainer013 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer014 {
	-ms-transform:translate(192.000px,39.264px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,39.264px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(192.000px,39.264px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,39.264px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer015 {
	display:inline-block;
	height:135px;
	position:relative;
	width:372px;
}
#_idContainer016 {
	-ms-transform:translate(0.000px,317.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,317.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:76.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,317.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,317.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer017 {
	-ms-transform:translate(20.880px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20.880px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:320.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20.880px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(20.880px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:330.24px;
	z-index:0;
}
#_idContainer018 {
	display:inline-block;
	height:394px;
	position:relative;
	width:372px;
}
img._idGenObjectAttribute-1 {
	height:18px;
	width:18px;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
