body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.body-text--no-indent- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.em-only_em_h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers 47 CondensedLight", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:8px;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.em-only_endmatter--form-nl- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:2px;
	margin-left:30px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-12px;
	text-transform:none;
	widows:2;
}
p.em-only_endmatter--form-tx- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:7px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.em-only_endmatter-h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers 47 CondensedLight", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.286;
	margin-bottom:13px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.em-only_endmatter-reference-leadin {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.em-only_endmatter-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:22px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:18px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.endmatter-answers {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:18px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-18px;
	text-transform:none;
	widows:2;
}
p.endmatter-reference {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:18px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-18px;
	text-transform:none;
	widows:2;
}
p.endmatter-sq-question {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	margin-bottom:2px;
	margin-left:18px;
	margin-right:0;
	margin-top:7px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-18px;
	text-transform:none;
	widows:2;
}
p.endmatter-sq-question-choice {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	margin-bottom:2px;
	margin-left:30px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-12px;
	text-transform:none;
	widows:2;
}
p.fm-only_fm-h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers 47 CondensedLight", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:8px;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.page-elements_rhr {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers 55", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.page-elements_rhv {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers 55", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.endmatter-answers_bold {
	font-style:normal;
	font-weight:bold;
}
span.endmatter-answers_greek {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.endmatter-answers_italic {
	font-style:italic;
	font-weight:normal;
}
span.endmatter-answers_subscript {
	vertical-align:sub;
}
span.endmatter-answers_superscript {
	vertical-align:super;
}
span.endmatter-answers_symbol {
	font-family:"Symbol Std", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.endmatter-reference_italic {
	font-style:italic;
	font-weight:normal;
}
span.endmatter-sq-question-choice_greek {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.endmatter-sq-question-choice_italic {
	font-style:italic;
	font-weight:normal;
}
span.endmatter-sq-question-choice_subscript {
	vertical-align:sub;
}
span.endmatter-sq-question-choice_superscript {
	vertical-align:super;
}
span.endmatter-sq-question_italic {
	font-style:italic;
	font-weight:normal;
}
span.endmatter-sq-question_smallcaps {
	font-variant:small-caps;
	text-transform:none;
}
span.italic {
	font-style:italic;
	font-weight:normal;
}
span.rh-bullet {
	font-family:"Mathematical Pi LT Std Regular", sans-serif;
	font-size:5px;
	font-style:normal;
	font-weight:normal;
}
span.sm {
	font-variant:small-caps;
	text-transform:none;
}
p.ParaOverride-1 {
	margin-top:0px;
}
p.ParaOverride-2 {
	margin-bottom:13px;
	page-break-after:always;
	text-align:center;
}
p.ParaOverride-3 {
	margin-bottom:13px;
	text-align:center;
}
p.ParaOverride-4 {
	margin-left:32px;
	margin-top:7px;
	text-indent:-14px;
}
p.ParaOverride-5 {
	margin-left:32px;
	text-indent:-14px;
}
p.ParaOverride-6 {
	margin-bottom:0px;
	margin-left:32px;
	text-indent:-14px;
}
p.ParaOverride-7 {
	margin-bottom:6px;
}
p.ParaOverride-8 {
	margin-top:0px;
	page-break-after:always;
}
p.ParaOverride-9 {
	margin-top:5px;
}
p.ParaOverride-10 {
	margin-top:9px;
}
p.ParaOverride-11 {
	page-break-before:always;
}
p.ParaOverride-12 {
	text-indent:-14px;
}
span.CharOverride-1 {
	font-size:14px;
}
span.CharOverride-2 {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-size:11px;
}
span.CharOverride-4 {
	font-size:11px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-5 {
	font-size:21px;
}
span.CharOverride-6 {
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	font-size:10px;
}
span._idGenCharOverride-1 {
	font-size:65%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
