body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.cap {
	border-style:solid;
}
div.cap1 {
	border-style:solid;
}
div.keypoint-l {
	border-style:solid;
}
div.keypoint-r {
	border-style:solid;
}
div.video-icon {
	border-color:#d4e8ba;
	border-width:1px;
	border-style:solid;
}
div.video-r {
	border-color:#d4e8ba;
	border-width:1px;
	border-style:solid;
}
table.Basic-Table {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Basic-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
table.No-Table-Style {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.No-Table-Style {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.TB {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:2px;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
	vertical-align:top;
}
td.TBF {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:2px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	vertical-align:top;
}
td.TBL {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:9px;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
	vertical-align:top;
}
td.TCH {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	vertical-align:bottom;
}
td.TFN {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:6px;
}
td.TT {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:4px;
	vertical-align:top;
}
p.QR-code-caption-first {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.111;
	margin-bottom:0;
	margin-left:38px;
	margin-right:0;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-source {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:7px;
	font-style:italic;
	font-variant:normal;
	font-weight:300;
	line-height:1.429;
	margin-bottom:0;
	margin-left:38px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.body-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:2;
}
p.body-text--no-indent- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-first {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-last {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:6px;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-sub-bullet-list {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:square;
	margin-bottom:0;
	margin-left:35px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-number {
	-epub-hyphens:none;
	color:#9acc5b;
	font-family:"Univers LT Std 47 Cn Lt", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0;
	margin-left:2px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:always;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:27px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.185;
	margin-bottom:68px;
	margin-left:2px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.figure-caption {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 47 Cn Lt", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 47 Cn Lt", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2-h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 47 Cn Lt", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h3 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 47 Cn Lt", sans-serif;
	font-size:11px;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.048;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:10px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h3-h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 47 Cn Lt", sans-serif;
	font-size:11px;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.048;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h4-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:8px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.reference-first {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:27px;
	margin-right:18px;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.reference-mid {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:27px;
	margin-right:18px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.rhr {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.sidebar-bullet-list-mid {
	color:#000000;
	font-family:"Univers LT Std 55", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.211;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:28px;
	margin-right:9px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.sidebar-numbered-list-mid {
	color:#000000;
	font-family:"Univers LT Std 55", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.211;
	margin-bottom:0;
	margin-left:30px;
	margin-right:9px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-12px;
	text-transform:none;
	widows:2;
}
p.sidebar-source-note {
	color:#000000;
	font-family:"Univers LT Std 55", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.278;
	margin-bottom:13px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:2;
}
p.sidebar-text--no-indent-_clinic {
	color:#000000;
	font-family:"Univers LT Std 55", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.278;
	margin-bottom:3px;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.sidebar-text--no-indent-_clinic1 {
	color:#000000;
	font-family:"Univers LT Std 55", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.278;
	margin-bottom:20px;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.sidebar-title2 {
	color:#000000;
	font-family:"Univers LT Std 55", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.sidebar-title_clinic {
	-epub-hyphens:none;
	color:#9acc5b;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:7px;
	margin-left:9px;
	margin-right:9px;
	margin-top:23px;
	orphans:2;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:2;
}
p.table-body {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.table-column-head {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 47 Cn Lt", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.table-footnote {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:5px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-4px;
	text-transform:none;
	widows:2;
}
p.table-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.158;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.video-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.263;
	margin-bottom:6px;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-31px;
	text-transform:none;
	widows:2;
}
span.QR-code-activity-number {
	color:#9acc5b;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.QR-code-number {
	color:#9acc5b;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.accent {
	font-style:normal;
	font-weight:normal;
}
span.bullet-list_italic {
	font-style:italic;
	font-weight:normal;
}
span.cn-chap {
	color:#9acc5b;
	font-size:13px;
	font-variant:normal;
	text-transform:uppercase;
}
span.figure-caption_bold {
	font-style:normal;
	font-weight:bold;
}
span.figure-caption_italic {
	font-style:oblique;
	font-weight:normal;
}
span.figure-caption_symbol {
	font-family:"Symbol Std", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.figure-number {
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:bold;
}
span.figure-source-emphasis {
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:300;
}
span.figure-source-note {
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:7px;
	font-style:italic;
	font-weight:300;
}
span.greek {
	font-family:"Times NR Dual Greek MT", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.h2_italic {
	font-style:oblique;
	font-weight:bold;
}
span.h4 {
	font-family:"Univers LT Std 47 Cn Lt", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:bold;
}
span.h4-head {
	font-family:"Univers LT Std 47 Cn Lt", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:bold;
}
span.h4-text_italic {
	font-style:italic;
	font-weight:normal;
}
span.h4-text_superscript {
	vertical-align:super;
}
span.h4-text_symbol {
	font-family:"Symbol Std", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.italic {
	font-style:italic;
	font-weight:normal;
}
span.keypoint {
	text-decoration:underline;
}
span.qr-code-source_italic {
	font-style:oblique;
	font-weight:normal;
}
span.qr-code-source_roman {
	font-style:normal;
	font-weight:normal;
}
span.reference_accent {
	font-style:normal;
	font-weight:normal;
}
span.reference_italic {
	font-style:italic;
	font-weight:normal;
}
span.rh-bullet {
	font-family:"Mathematical Pi LT Std Regular", sans-serif;
	font-size:5px;
	font-style:normal;
	font-weight:normal;
}
span.rh-chap-num {
	font-size:7px;
	font-variant:small-caps;
	text-transform:none;
}
span.sidebar-bullet-list_italic {
	font-style:oblique;
	font-weight:normal;
}
span.sidebar-source-note_italic {
	font-style:oblique;
	font-weight:normal;
}
span.sidebar-text_italic {
	font-style:normal;
	font-weight:normal;
}
span.symbol {
	font-family:"Symbol Std", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.table-footnote_italic {
	font-style:oblique;
	font-weight:normal;
}
span.table-number {
	font-size:8px;
}
span.video-list_italic {
	font-style:italic;
	font-weight:normal;
}
span.xref-local {
	font-variant:normal;
	text-transform:none;
}
span.xref-table {
	color:#000000;
	font-size:11px;
}
table.TableOverride-1 {
	border-collapse:collapse;
}
td.CellOverride-1 {
	padding-bottom:5px;
	padding-top:4px;
}
td.CellOverride-2 {
	padding-bottom:5px;
	padding-top:5px;
}
td.CellOverride-3 {
	border-bottom-color:#bcbec0;
	padding-bottom:2px;
	padding-top:5px;
}
td.CellOverride-4 {
	border-top-color:#bcbec0;
	padding-bottom:2px;
	padding-top:3px;
}
td.CellOverride-5 {
	padding-bottom:2px;
	padding-top:4px;
}
td.CellOverride-6 {
	padding-top:3px;
}
p.ParaOverride-1 {
	margin-left:24px;
	text-indent:-23px;
}
p.ParaOverride-2 {
	text-align:left;
}
p.ParaOverride-3 {
	margin-left:47px;
}
p.ParaOverride-4 {
	margin-left:46px;
	text-align:left;
}
p.ParaOverride-5 {
	margin-bottom:6px;
}
p.ParaOverride-6 {
	margin-bottom:11px;
}
p.ParaOverride-7 {
	margin-top:16px;
}
p.ParaOverride-8 {
	margin-bottom:20px;
}
p.ParaOverride-9 {
	margin-top:30px;
}
p.ParaOverride-10 {
	margin-bottom:26px;
}
span.CharOverride-1 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-size:65%;
}
span.CharOverride-3 {
	font-style:oblique;
	font-weight:normal;
}
span.CharOverride-4 {
	font-variant:normal;
	text-transform:uppercase;
}
li._idGenParaOverride-1 {
	margin-left:8px;
}
p._idGenParaOverride-2 {
	margin-left:0px;
}
td._idGenCellOverride-1 {
	border-bottom-color:#bcbec0;
	border-bottom-style:solid;
	border-bottom-width:0px;
}
td._idGenCellOverride-2 {
	border-top-color:#bcbec0;
	border-top-style:solid;
	border-top-width:0px;
}
col._idGenTableRowColumn-1 {
	width:30px;
}
col._idGenTableRowColumn-2 {
	width:22px;
}
col._idGenTableRowColumn-3 {
	width:101px;
}
col._idGenTableRowColumn-4 {
	width:114px;
}
col._idGenTableRowColumn-5 {
	width:61px;
}
tr._idGenTableRowColumn-6 {
	min-height:15px;
}
tr._idGenTableRowColumn-7 {
	min-height:16px;
}
tr._idGenTableRowColumn-8 {
	min-height:33px;
}
tr._idGenTableRowColumn-9 {
	min-height:36px;
}
tr._idGenTableRowColumn-10 {
	min-height:11px;
}
col._idGenTableRowColumn-11 {
	width:150px;
}
col._idGenTableRowColumn-12 {
	width:12px;
}
col._idGenTableRowColumn-13 {
	width:210px;
}
tr._idGenTableRowColumn-14 {
	min-height:32px;
}
tr._idGenTableRowColumn-15 {
	min-height:22px;
}
tr._idGenTableRowColumn-16 {
	min-height:28px;
}
#_idContainer002, #_idContainer005, #_idContainer006, #_idContainer007, #_idContainer008, #_idContainer009, #_idContainer010, #_idContainer011 {
	display:inline-block;
	height:16px;
	width:16px;
}
#_idContainer003 {
	display:inline-block;
	height:26px;
	width:26px;
}
#_idContainer004 {
	display:inline-block;
	height:36px;
	width:36px;
}
#_idContainer013, #_idContainer016 {
	display:inline-block;
	height:26px;
	position:relative;
	width:18px;
}
#_idContainer014 {
	display:inline-block;
	height:73px;
	position:relative;
	width:0px;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,2.531px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2.531px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.531px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2.531px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.75px;
	z-index:2;
}
#_idContainer018 {
	-ms-transform:translate(17.749px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.749px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.749px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.749px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer019 {
	display:inline-block;
	height:231px;
	position:relative;
	width:348px;
}
#_idContainer020 {
	display:inline-block;
	height:41px;
	position:relative;
	width:0px;
}
#_idContainer021 {
	-ms-transform:translate(0.000px,438.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,438.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.21px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,438.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,438.973px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer022 {
	-ms-transform:translate(0.201px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.201px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:438.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.201px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.201px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.50px;
	z-index:0;
}
#_idContainer023 {
	display:inline-block;
	height:465px;
	position:relative;
	width:372px;
}
#_idContainer025 {
	-ms-transform:translate(0.000px,228.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,228.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,228.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,228.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:0;
}
#_idContainer026 {
	-ms-transform:translate(6.066px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.066px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:230.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.066px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.066px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:359.87px;
	z-index:1;
}
#_idContainer027 {
	display:inline-block;
	height:265px;
	position:relative;
	width:372px;
}
#_idContainer028 {
	-ms-transform:translate(0.000px,152.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,152.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,152.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,152.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:209.74px;
	z-index:1;
}
#_idContainer029 {
	-ms-transform:translate(221.739px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(221.739px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:370.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(221.739px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(221.739px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:150.21px;
	z-index:0;
}
#_idContainer030 {
	display:inline-block;
	height:371px;
	position:relative;
	width:372px;
}
#_idContainer031 {
	-ms-transform:translate(0.000px,5.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.75px;
	z-index:2;
}
#_idContainer032 {
	-ms-transform:translate(17.750px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.750px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:124.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.750px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.750px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer033 {
	display:inline-block;
	height:127px;
	position:relative;
	width:348px;
}
#_idContainer035 {
	display:inline-block;
	height:180px;
	width:142px;
}
#_idContainer037 {
	-ms-transform:translate(0.000px,71.142px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,71.142px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,71.142px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,71.142px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer038 {
	-ms-transform:translate(192.048px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.048px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:178.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.048px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.048px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer039 {
	display:inline-block;
	height:179px;
	position:relative;
	width:372px;
}
#_idContainer042 {
	-ms-transform:translate(0.000px,389.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,389.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,389.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,389.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer043 {
	-ms-transform:translate(31.564px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(31.564px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:391.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(31.564px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(31.564px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:308.87px;
	z-index:0;
}
#_idContainer044 {
	display:inline-block;
	height:405px;
	position:relative;
	width:372px;
}
#_idContainer046 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:185.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer047 {
	-ms-transform:translate(192.000px,74.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,74.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(192.000px,74.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,74.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer048 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:185.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer049 {
	-ms-transform:translate(0.000px,163.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,163.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,163.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,163.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer050 {
	-ms-transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:163.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:246.00px;
	z-index:0;
}
#_idContainer051 {
	-ms-transform:translate(-0.001px,206.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,206.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:189.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,206.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,206.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:0;
}
#_idContainer052 {
	display:inline-block;
	height:396px;
	position:relative;
	width:372px;
}
#_idContainer054 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:131.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.38px;
	z-index:0;
}
#_idContainer055 {
	-ms-transform:translate(0.000px,126.522px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,126.522px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,126.522px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,126.522px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer056 {
	display:inline-block;
	height:173px;
	position:relative;
	width:372px;
}
#_idContainer057 {
	-ms-transform:translate(0.000px,184.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,184.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,184.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,184.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer058 {
	-ms-transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:184.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:246.00px;
	z-index:0;
}
#_idContainer059 {
	display:inline-block;
	height:211px;
	position:relative;
	width:372px;
}
#_idContainer061 {
	display:inline-block;
	height:160px;
	width:371px;
}
#_idContainer063 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.98px;
	z-index:0;
}
#_idContainer064 {
	-ms-transform:translate(0.000px,144.117px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,144.117px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,144.117px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,144.117px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer065 {
	display:inline-block;
	height:190px;
	position:relative;
	width:372px;
}
#_idContainer068 {
	display:inline-block;
	height:244px;
	width:265px;
}
#_idContainer070, #_idContainer073 {
	display:inline-block;
	height:410px;
	width:240px;
}
#_idContainer075 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:192.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:0;
}
#_idContainer076 {
	-ms-transform:translate(0.000px,192.958px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,192.958px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,192.958px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,192.958px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer077 {
	display:inline-block;
	height:239px;
	position:relative;
	width:372px;
}
#_idContainer079 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:246.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:0;
}
#_idContainer080 {
	-ms-transform:translate(0.000px,246.479px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,246.479px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,246.479px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,246.479px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer081 {
	display:inline-block;
	height:272px;
	position:relative;
	width:372px;
}
#_idContainer083 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:180.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer084 {
	-ms-transform:translate(192.000px,76.982px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,76.982px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(192.000px,76.982px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,76.982px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer085 {
	display:inline-block;
	height:180px;
	position:relative;
	width:372px;
}
#_idContainer087 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:176.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.12px;
	z-index:0;
}
#_idContainer088 {
	-ms-transform:translate(0.000px,171.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,171.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,171.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,171.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer089 {
	display:inline-block;
	height:197px;
	position:relative;
	width:372px;
}
#_idContainer090 {
	-ms-transform:translate(0.000px,110.189px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,110.189px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,110.189px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,110.189px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer091 {
	-ms-transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:110.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:246.00px;
	z-index:0;
}
#_idContainer092 {
	display:inline-block;
	height:156px;
	position:relative;
	width:372px;
}
#_idContainer094 {
	-ms-transform:translate(0.000px,98.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,98.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,98.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,98.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer095 {
	-ms-transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:98.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:246.00px;
	z-index:0;
}
#_idContainer096 {
	display:inline-block;
	height:155px;
	position:relative;
	width:372px;
}
img._idGenObjectAttribute-1 {
	height:18px;
	width:18px;
}
img._idGenObjectAttribute-2 {
	height:17px;
	width:17px;
}
img._idGenObjectAttribute-3 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#4087c7;
	border-color:#9acc5b;
	border-width:2px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
