body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.cap {
	border-style:solid;
}
div.cap1 {
	border-style:solid;
}
div.cap2 {
	border-style:solid;
}
div.video-icon {
	border-color:#d4e8ba;
	border-width:1px;
	border-style:solid;
}
div.video-r {
	border-color:#d4e8ba;
	border-width:1px;
	border-style:solid;
}
table.No-Table-Style {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.No-Table-Style, th.No-Table-Style {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.TB {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:2px;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
}
td.TBF {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:2px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
}
td.TBL {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:9px;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
}
td.TCH {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	vertical-align:bottom;
}
td.TFN {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:1px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:6px;
}
td.TT {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:4px;
}
p.QR-code-caption-first_right {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:42px;
	margin-right:45px;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-source-right {
	color:#000000;
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:16px;
	margin-left:44px;
	margin-right:45px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.body-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:2;
}
p.body-text--no-indent- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.box-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-first {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-last {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:6px;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-number {
	-epub-hyphens:none;
	color:#f7934d;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:2px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:always;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:27px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.185;
	margin-bottom:68px;
	margin-left:2px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.clinical-pearl {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.figure-caption {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.fm-acknowledgments-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2-h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h3 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.048;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:10px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h4-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:8px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.h5-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:8px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.reference-first {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:27px;
	margin-right:18px;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.reference-mid {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:27px;
	margin-right:18px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.table-body {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55 Roman", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.table-column-head {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.table-footnote {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55 Roman", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.table-subhead {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:11px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.table-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.video-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.263;
	margin-bottom:6px;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-23px;
	text-transform:none;
	widows:2;
}
span.QR-code-activity-number {
	color:#f9c647;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.QR-code-number {
	color:#f7934d;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.accent {
	font-style:normal;
	font-weight:normal;
}
span.bold {
	font-style:normal;
	font-weight:bold;
}
span.bullet-list_italic {
	font-style:italic;
	font-weight:normal;
}
span.bullet-list_symbol {
	font-family:"Symbol Std Medium", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.cn-chap {
	color:#f7934d;
	font-size:13px;
	font-variant:normal;
	text-transform:uppercase;
}
span.figure-caption_bold {
	font-style:normal;
	font-weight:bold;
}
span.figure-caption_greek {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.figure-caption_italic {
	font-style:oblique;
	font-weight:normal;
}
span.figure-caption_symbol {
	font-family:"Symbol Std Medium", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.figure-number {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.figure-source-emphasis {
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.figure-source-note {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.greek {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.h2_italic {
	font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.h3_accent_italic {
	font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.h4-head {
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.h4-text_accent {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.h4-text_cyrillic {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.h4-text_italic {
	font-style:italic;
	font-weight:normal;
}
span.h5-head {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.h5-text_italic {
	font-style:italic;
	font-weight:normal;
}
span.h5-text_subscript {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
	text-decoration:line-through;
	vertical-align:sub;
}
span.h5-text_symbol {
	font-family:"Symbol Std Medium", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.italic {
	font-style:italic;
	font-weight:normal;
}
span.keypoint_accent_underline {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span.keypoint_italic_underline {
	font-family:"Minion Pro", serif;
	font-style:italic;
	font-weight:normal;
	text-decoration:underline;
}
span.keypoint_underline {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span.qr-code-source_italic {
	font-style:oblique;
	font-weight:normal;
}
span.reference_accent {
	font-style:normal;
	font-weight:normal;
}
span.reference_italic {
	font-style:italic;
	font-weight:normal;
}
span.sidebar-text_bold {
	color:#f7934d;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.sidebar2-head {
	color:#9acc5b;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.symbol {
	font-family:"Symbol Std Medium", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.table-body_accent_bold {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.table-body_bold {
	font-style:normal;
	font-weight:bold;
}
span.table-body_greek {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.table-body_italic {
	font-style:oblique;
	font-weight:normal;
}
span.table-body_italic_bold {
	font-family:"Univers LT Std 65 Bold Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.table-body_superscript {
	vertical-align:super;
}
span.table-body_symbol {
	font-family:"Symbol Std Medium", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.table-body_xref-local {
	font-family:"Univers LT Std 55 Roman", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.table-column-head_superscript {
	vertical-align:super;
}
span.table-footnote_italic {
	font-style:oblique;
	font-weight:normal;
}
span.table-footnote_superscript {
	vertical-align:super;
}
span.table-footnote_symbol {
	font-family:"Symbol Std Medium", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.table-number {
	font-size:8px;
}
span.table-title_accent {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.video-list_Hyperlink {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.video-list_italic {
	font-family:"Minion Pro", serif;
	font-style:italic;
	font-weight:normal;
}
span.xref-local {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
td.CellOverride-1 {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
}
td.CellOverride-2 {
	border-top-color:#bcbec0;
	border-top-width:2px;
}
td.CellOverride-3 {
	padding-top:5px;
}
td.CellOverride-4 {
	border-bottom-width:1px;
	padding-bottom:9px;
}
td.CellOverride-5 {
	border-top-width:1px;
	padding-top:5px;
}
td.CellOverride-6 {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	padding-bottom:5px;
}
td.CellOverride-7 {
	border-bottom-width:0px;
}
td.CellOverride-8 {
	border-top-width:0px;
}
td.CellOverride-9 {
	padding-top:3px;
}
p.ParaOverride-1 {
	margin-bottom:3px;
}
p.ParaOverride-2 {
	margin-top:23px;
}
p.ParaOverride-3 {
	margin-bottom:16px;
}
p.ParaOverride-4 {
	margin-bottom:0px;
}
p.ParaOverride-5 {
	margin-right:45px;
}
p.ParaOverride-6 {
	margin-bottom:6px;
	margin-top:148px;
}
li.ParaOverride-7 {
	margin-bottom:0px;
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-bottom:22px;
	margin-top:21px;
}
p.ParaOverride-9 {
	margin-bottom:9px;
	margin-top:130px;
}
p.ParaOverride-10 {
	margin-left:0px;
	text-indent:0px;
}
p.ParaOverride-11 {
	margin-top:1px;
}
p.ParaOverride-12 {
	margin-top:5px;
}
p.ParaOverride-13 {
	text-align:center;
}
p.ParaOverride-14 {
	margin-bottom:5px;
}
p.ParaOverride-15 {
	margin-left:17px;
}
p.ParaOverride-16 {
	margin-left:8px;
	text-indent:0px;
}
p.ParaOverride-17 {
	margin-top:6px;
}
p.ParaOverride-18 {
	margin-left:0px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-19 {
	margin-top:2px;
}
span.CharOverride-1 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-size:65%;
}
span.CharOverride-4 {
	font-style:normal;
	font-weight:bold;
}
span._idGenCharOverride-1 {
	font-size:65%;
}
td._idGenCellOverride-1 {
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
}
td._idGenCellOverride-2 {
	border-bottom-color:#bcbec0;
	border-bottom-style:solid;
	border-bottom-width:2px;
}
td._idGenCellOverride-3 {
	border-top-color:#bcbec0;
	border-top-style:solid;
	border-top-width:0px;
}
col._idGenTableRowColumn-1 {
	width:46px;
}
col._idGenTableRowColumn-2 {
	width:12px;
}
col._idGenTableRowColumn-3 {
	width:70px;
}
col._idGenTableRowColumn-4 {
	width:337px;
}
col._idGenTableRowColumn-5 {
	width:104px;
}
tr._idGenTableRowColumn-6 {
	min-height:15px;
}
tr._idGenTableRowColumn-7 {
	min-height:16px;
}
tr._idGenTableRowColumn-8 {
	min-height:13px;
}
tr._idGenTableRowColumn-9 {
	min-height:10px;
}
tr._idGenTableRowColumn-10 {
	min-height:23px;
}
tr._idGenTableRowColumn-11 {
	min-height:40px;
}
tr._idGenTableRowColumn-12 {
	min-height:20px;
}
tr._idGenTableRowColumn-13 {
	min-height:30px;
}
tr._idGenTableRowColumn-14 {
	min-height:26px;
}
tr._idGenTableRowColumn-15 {
	min-height:33px;
}
col._idGenTableRowColumn-16 {
	width:124px;
}
col._idGenTableRowColumn-17 {
	width:55px;
}
col._idGenTableRowColumn-18 {
	width:193px;
}
col._idGenTableRowColumn-19 {
	width:128px;
}
col._idGenTableRowColumn-20 {
	width:20px;
}
col._idGenTableRowColumn-21 {
	width:225px;
}
tr._idGenTableRowColumn-22 {
	min-height:12px;
}
col._idGenTableRowColumn-23 {
	width:133px;
}
col._idGenTableRowColumn-24 {
	width:14px;
}
col._idGenTableRowColumn-25 {
	width:113px;
}
col._idGenTableRowColumn-26 {
	width:97px;
}
tr._idGenTableRowColumn-27 {
	min-height:86px;
}
tr._idGenTableRowColumn-28 {
	min-height:109px;
}
col._idGenTableRowColumn-29 {
	width:66px;
}
col._idGenTableRowColumn-30 {
	width:10px;
}
col._idGenTableRowColumn-31 {
	width:65px;
}
col._idGenTableRowColumn-32 {
	width:64px;
}
col._idGenTableRowColumn-33 {
	width:68px;
}
tr._idGenTableRowColumn-34 {
	min-height:53px;
}
tr._idGenTableRowColumn-35 {
	min-height:41px;
}
tr._idGenTableRowColumn-36 {
	min-height:21px;
}
tr._idGenTableRowColumn-37 {
	min-height:31px;
}
tr._idGenTableRowColumn-38 {
	min-height:51px;
}
tr._idGenTableRowColumn-39 {
	min-height:11px;
}
tr._idGenTableRowColumn-40 {
	min-height:37px;
}
tr._idGenTableRowColumn-41 {
	min-height:56px;
}
col._idGenTableRowColumn-42 {
	width:372px;
}
tr._idGenTableRowColumn-43 {
	min-height:27px;
}
col._idGenTableRowColumn-44 {
	width:186px;
}
col._idGenTableRowColumn-45 {
	width:174px;
}
col._idGenTableRowColumn-46 {
	width:167px;
}
col._idGenTableRowColumn-47 {
	width:25px;
}
col._idGenTableRowColumn-48 {
	width:180px;
}
tr._idGenTableRowColumn-49 {
	min-height:173px;
}
col._idGenTableRowColumn-50 {
	width:50px;
}
col._idGenTableRowColumn-51 {
	width:310px;
}
tr._idGenTableRowColumn-52 {
	min-height:22px;
}
col._idGenTableRowColumn-53 {
	width:38px;
}
col._idGenTableRowColumn-54 {
	width:172px;
}
col._idGenTableRowColumn-55 {
	width:41px;
}
col._idGenTableRowColumn-56 {
	width:78px;
}
tr._idGenTableRowColumn-57 {
	min-height:47px;
}
col._idGenTableRowColumn-58 {
	width:80px;
}
col._idGenTableRowColumn-59 {
	width:24px;
}
col._idGenTableRowColumn-60 {
	width:86px;
}
col._idGenTableRowColumn-61 {
	width:72px;
}
col._idGenTableRowColumn-62 {
	width:63px;
}
#_idContainer002, #_idContainer003, #_idContainer004, #_idContainer010, #_idContainer011, #_idContainer012, #_idContainer014, #_idContainer015 {
	display:inline-block;
	height:16px;
	width:16px;
}
#_idContainer005, #_idContainer008 {
	display:inline-block;
	height:36px;
	width:36px;
}
#_idContainer006, #_idContainer009 {
	display:inline-block;
	height:26px;
	width:26px;
}
#_idContainer017 {
	display:inline-block;
	height:9px;
	position:relative;
	width:5px;
}
#_idContainer019 {
	display:inline-block;
	height:625px;
	position:relative;
	width:19px;
}
#_idContainer021 {
	-ms-transform:translate(0.000px,113.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,113.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,113.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,113.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer022 {
	-ms-transform:translate(59.512px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.512px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:117.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.512px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.512px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:252.98px;
	z-index:0;
}
#_idContainer023 {
	display:inline-block;
	height:140px;
	position:relative;
	width:372px;
}
#_idContainer024 {
	display:inline-block;
	height:258px;
	width:371px;
}
#_idContainer026 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:89.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer027 {
	-ms-transform:translate(0.000px,89.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,89.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,89.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,89.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer028 {
	-ms-transform:translate(0.000px,21.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,21.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,21.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,21.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer029 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.24px;
	z-index:0;
}
#_idContainer030 {
	-ms-transform:translate(0.238px,111.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.238px,111.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.238px,111.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.238px,111.098px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer031 {
	-ms-transform:translate(191.761px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(191.761px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:137.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(191.761px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(191.761px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.24px;
	z-index:1;
}
#_idContainer032 {
	display:inline-block;
	height:157px;
	position:relative;
	width:372px;
}
#_idContainer033 {
	-ms-transform:translate(0.000px,72.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,72.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,72.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,72.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer034 {
	-ms-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:170.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer035 {
	display:inline-block;
	height:171px;
	position:relative;
	width:372px;
}
#_idContainer037 {
	-ms-transform:translate(0.000px,169.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,169.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,169.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,169.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer038 {
	-ms-transform:translate(19.373px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(19.373px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:174.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(19.373px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(19.373px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:333.25px;
	z-index:0;
}
#_idContainer039 {
	display:inline-block;
	height:206px;
	position:relative;
	width:372px;
}
#_idContainer040 {
	display:inline-block;
	height:354px;
	width:371px;
}
#_idContainer042 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer043 {
	-ms-transform:translate(192.000px,51.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,51.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(192.000px,51.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,51.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer044 {
	display:inline-block;
	height:120px;
	position:relative;
	width:372px;
}
#_idContainer046 {
	-ms-transform:translate(0.000px,270.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,270.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:76.21px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,270.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,270.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer047 {
	-ms-transform:translate(5.988px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.988px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:270.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.988px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.988px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:360.02px;
	z-index:0;
}
#_idContainer048 {
	display:inline-block;
	height:346px;
	position:relative;
	width:372px;
}
#_idContainer049 {
	-ms-transform:translate(0.000px,236.292px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,236.292px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,236.292px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,236.292px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer050 {
	-ms-transform:translate(5.715px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.715px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:236.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.715px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.715px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:360.57px;
	z-index:0;
}
#_idContainer051 {
	display:inline-block;
	height:262px;
	position:relative;
	width:372px;
}
#_idContainer052 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:163.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer053 {
	-ms-transform:translate(0.000px,163.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,163.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,163.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,163.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:2;
}
#_idContainer054 {
	-ms-transform:translate(192.000px,9.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,9.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:153.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.000px,9.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,9.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer055 {
	-ms-transform:translate(192.000px,163.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,163.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(192.000px,163.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,163.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:3;
}
#_idContainer056 {
	display:inline-block;
	height:219px;
	position:relative;
	width:372px;
}
#_idContainer057 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:151.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer058 {
	-ms-transform:translate(192.000px,67.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,67.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(192.000px,67.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,67.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer059 {
	display:inline-block;
	height:151px;
	position:relative;
	width:372px;
}
#_idContainer061 {
	display:inline-block;
	height:11px;
	position:relative;
	width:13px;
}
#_idContainer064 {
	display:inline-block;
	height:474px;
	width:372px;
}
#_idContainer068 {
	display:inline-block;
	height:132px;
	width:180px;
}
#_idContainer071 {
	-ms-transform:translate(0.000px,272.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,272.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,272.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,272.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer072 {
	-ms-transform:translate(0.440px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.440px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:277.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.440px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.440px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.12px;
	z-index:0;
}
#_idContainer073 {
	display:inline-block;
	height:319px;
	position:relative;
	width:372px;
}
#_idContainer074 {
	-ms-transform:translate(0.000px,250.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,250.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,250.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,250.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer075 {
	-ms-transform:translate(0.285px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.285px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:254.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.285px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.285px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.52px;
	z-index:0;
}
#_idContainer076 {
	display:inline-block;
	height:296px;
	position:relative;
	width:372px;
}
#_idContainer078 {
	display:inline-block;
	height:112px;
	width:372px;
}
#_idContainer081 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer082 {
	-ms-transform:translate(192.000px,66.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,66.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(192.000px,66.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,66.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer083 {
	display:inline-block;
	height:150px;
	position:relative;
	width:372px;
}
#_idContainer084 {
	display:inline-block;
	height:141px;
	width:371px;
}
img._idGenObjectAttribute-1 {
	height:18px;
	width:18px;
}
img._idGenObjectAttribute-2 {
	height:17px;
	width:17px;
}
img._idGenObjectAttribute-3 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-4 {
	height:151px;
	width:372px;
}
img._idGenObjectAttribute-5 {
	height:138px;
	width:372px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
