body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.cap {
	border-style:solid;
}
p.QR-code-caption-first {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:45px;
	margin-right:0;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-source {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:0;
	margin-left:45px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.body-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:2;
}
p.body-text--no-indent- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-number {
	-epub-hyphens:none;
	color:#8caedc;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:2px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:always;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-title {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:27px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.185;
	margin-bottom:68px;
	margin-left:2px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.figure-caption {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h3 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.048;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:10px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.video-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.263;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-23px;
	text-transform:none;
	widows:2;
}
span.QR-code-number {
	color:#6b9bd2;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.cn-chap {
	color:#8caedc;
	font-size:13px;
	font-variant:normal;
	text-transform:uppercase;
}
span.figure-caption_bold {
	font-style:normal;
	font-weight:bold;
}
span.figure-caption_italic {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.figure-number {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.figure-source-note {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.italic {
	font-style:italic;
	font-weight:normal;
}
span.qr-code-source_italic {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.subscript {
	vertical-align:sub;
}
span.symbol {
	font-family:"Symbol Std Medium", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.video-list_italic {
	font-family:"Minion Pro", serif;
	font-style:italic;
	font-weight:normal;
}
span.xref-figure {
	color:#000000;
}
span.xref-video {
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	margin-bottom:70px;
}
p.ParaOverride-2 {
	margin-top:23px;
}
p.ParaOverride-3 {
	margin-top:16px;
}
p.ParaOverride-4 {
	margin-bottom:17px;
}
p.ParaOverride-5 {
	margin-top:17px;
}
span._idGenCharOverride-1 {
	font-size:65%;
}
#_idContainer001 {
	display:inline-block;
	height:25px;
	width:25px;
}
#_idContainer002 {
	display:inline-block;
	height:36px;
	width:36px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,233.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,233.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,233.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,233.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer005 {
	-ms-transform:translate(42.669px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.669px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:233.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.669px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.669px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:292.84px;
	z-index:0;
}
#_idContainer006 {
	display:inline-block;
	height:300px;
	position:relative;
	width:372px;
}
#_idContainer007 {
	display:inline-block;
	height:29px;
	position:relative;
	width:7px;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,130.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,130.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,130.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,130.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer009 {
	-ms-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.62px;
	z-index:0;
}
#_idContainer010 {
	display:inline-block;
	height:157px;
	position:relative;
	width:372px;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:163.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.62px;
	z-index:0;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,161.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,161.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,161.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,161.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer013 {
	display:inline-block;
	height:188px;
	position:relative;
	width:372px;
}
#_idContainer014 {
	-ms-transform:translate(0.000px,318.273px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,318.273px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,318.273px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,318.273px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer015 {
	-ms-transform:translate(3.498px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.498px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:322.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.498px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.498px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:365.00px;
	z-index:0;
}
#_idContainer016 {
	display:inline-block;
	height:374px;
	position:relative;
	width:372px;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,392.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,392.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,392.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,392.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer018 {
	-ms-transform:translate(56.618px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(56.618px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:398.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.618px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(56.618px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:258.76px;
	z-index:0;
}
#_idContainer019 {
	display:inline-block;
	height:428px;
	position:relative;
	width:372px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:78.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.95px;
	z-index:0;
}
#_idContainer021 {
	-ms-transform:translate(0.473px,73.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.473px,73.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.473px,73.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.473px,73.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer022 {
	display:inline-block;
	height:100px;
	position:relative;
	width:373px;
}
#_idContainer023 {
	-ms-transform:translate(0.000px,23.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,23.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,23.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,23.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer024 {
	-ms-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:83.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:179.85px;
	z-index:0;
}
#_idContainer025 {
	display:inline-block;
	height:83px;
	position:relative;
	width:372px;
}
#_idContainer026 {
	-ms-transform:translate(0.000px,463.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,463.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,463.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,463.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer027 {
	-ms-transform:translate(21.733px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(21.733px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:465.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(21.733px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(21.733px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:328.53px;
	z-index:0;
}
#_idContainer028 {
	display:inline-block;
	height:499px;
	position:relative;
	width:372px;
}
#_idContainer029 {
	-ms-transform:translate(0.000px,257.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,257.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,257.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,257.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer030 {
	-ms-transform:translate(60.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(60.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:257.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(60.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:252.00px;
	z-index:0;
}
#_idContainer031 {
	display:inline-block;
	height:303px;
	position:relative;
	width:372px;
}
#_idContainer032 {
	-ms-transform:translate(0.093px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.093px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:461.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.093px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.093px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.81px;
	z-index:0;
}
#_idContainer033 {
	-ms-transform:translate(0.000px,459.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,459.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,459.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,459.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer034 {
	display:inline-block;
	height:496px;
	position:relative;
	width:372px;
}
#_idContainer035 {
	-ms-transform:translate(0.000px,238.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,238.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,238.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,238.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer036 {
	-ms-transform:translate(0.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:242.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.00px;
	z-index:0;
}
#_idContainer037 {
	display:inline-block;
	height:264px;
	position:relative;
	width:372px;
}
img._idGenObjectAttribute-1 {
	height:18px;
	width:18px;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
