<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="Replace" />
    
  </system.web>
  <appSettings>
    <add key="ApiUrl" value="https://qas.aao.org/api/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <!--<add key="BCSCBooksDirectory" value="C:\AAO\sync\prod\BCSC Book\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />-->
    <add key="BCSCBooksDirectory" value="\\azfs.sf.aao.org\servers\BCSCBOOKSYNCH\sync\prod\BCSC Book\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
   </appSettings>
</configuration>
