<div class="modal" id="optInDialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Share Data</h4>
            </div>
            <div class="modal-body">
                @*The Academy collects performance data from this program to improve educational activities. All personal data are kept confidential and anonymized.
                <p> Are you willing to share your performance data for this purpose?</p>*@

                The Academy collects performance data from this program to improve educational activities, and may be shared with third parties. However, all personal data are kept confidential and anonymized. 
                <p>Are you willing to share your performance data for this purpose?</p>

                <div class="row">
                    <div class="col-lg-2">
                        <label class="container-checkbox">
                            Accept
                            <input id="optInYes" name="opt" type="checkbox" value="Y" class="opt_In">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="container-checkbox">
                            Reject
                            <input id="optInNo" name="opt" type="checkbox" value="N" class="opt_In"><span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Submit" id="OptInSave" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Code for checkbox toggle
    $('.opt_In').click(function () {
        $('.opt_In').not(this).prop('checked', false);
    });

    $("#SharedOpenUpdate, #SharedOpenUpdate1").click(function () {
             $.ajax({
                type: 'Post',
                dataType: "JSON",
                url: '/Dashboard/GetUserOptInStatus',
                async: false,
                success: function (result) {
                    if (result == 'N') {
                        $('#optInNo').prop('checked', true);
                        $('#optInYes').prop('checked', false);
                        $('#optInDialog').show();
                        return false;
                    }
                }
            });

        });

    $(document).on('click', "#OptInSave", function () {
        if ($("input[name='opt']:checked").val() != undefined) {
            $.ajax({
                type: 'POST',
                data: { optIn: $("input[name='opt']:checked").val() },
                url: '/Dashboard/UpdateUserOptInStatus',
                success: function (result) {
                    $("#optInDialog").fadeOut("slow");
                    document.location.reload(true);
                }
            });
        }
    });
</script>

