body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.cap {
	border-style:solid;
}
table.No-Table-Style {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.No-Table-Style {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td._1-BCSC-table-title {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:4px;
	vertical-align:top;
}
td._3-BCSC-table-column-head {
	border-bottom-color:#bcbec0;
	border-bottom-width:2px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	vertical-align:top;
}
td._4-BCSC-table-body-first-row {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:2px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	vertical-align:top;
}
td._5-BCSC-table-body {
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:2px;
	padding-left:0px;
	padding-right:0px;
	padding-top:4px;
	vertical-align:top;
}
td._7-BCSC-table-body-last-row {
	border-bottom-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	padding-bottom:9px;
	padding-left:0px;
	padding-right:0px;
	padding-top:4px;
	vertical-align:top;
}
p.QR-code-caption-first {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:45px;
	margin-right:0;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-caption-first-recto {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:46px;
	margin-top:9px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-source {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:13px;
	margin-left:45px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.QR-code-source-recto {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.429;
	margin-bottom:13px;
	margin-left:45px;
	margin-right:46px;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.body-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:2;
}
p.body-text--no-indent- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-first {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-last {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:6px;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
li.bullet-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:27px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-number {
	-epub-hyphens:none;
	color:#8caedc;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:2px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:always;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.chapter-title {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:27px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.185;
	margin-bottom:68px;
	margin-left:2px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.figure-caption {
	color:#000000;
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:13px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h2-h1 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h3 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.048;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:10px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h3-h2 {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.h4-text {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:8px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.numbered-list-first {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:31px;
	margin-right:0;
	margin-top:7px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-13px;
	text-transform:none;
	widows:2;
}
p.numbered-list-last {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:7px;
	margin-left:31px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-13px;
	text-transform:none;
	widows:2;
}
p.numbered-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.238;
	margin-bottom:0;
	margin-left:31px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-13px;
	text-transform:none;
	widows:2;
}
p.reference--journal--single {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:27px;
	margin-right:18px;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.table-body {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 55 Roman", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:2;
}
p.table-column-head {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.table-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.158;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.video-list-mid {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.263;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-23px;
	text-transform:none;
	widows:2;
}
span.QR-code-number {
	color:#6b9bd2;
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.accent {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.bullet-list_italic {
	font-family:"Minion Pro", serif;
	font-style:italic;
	font-weight:normal;
}
span.cn-chap {
	color:#8caedc;
	font-size:13px;
	font-variant:normal;
	text-transform:uppercase;
}
span.figure-caption_accent {
	font-family:"Univers LT Std 45 Light", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.figure-caption_bold {
	font-style:normal;
	font-weight:bold;
}
span.figure-caption_italic {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.figure-caption_subscript {
	vertical-align:sub;
}
span.figure-number {
	font-family:"Univers LT Std 65 Bold", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.figure-source-note {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.fm-obejctives-bullet {
	color:#f9c647;
}
span.h4-head {
	font-family:"Univers LT Std 67 Bold Condensed", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.h4-text_italic {
	font-style:italic;
	font-weight:normal;
}
span.italic {
	font-style:italic;
	font-weight:normal;
}
span.italic_subscript {
	font-style:italic;
	font-weight:normal;
	vertical-align:sub;
}
span.qr-code-source_italic {
	font-family:"Univers LT Std 45 Light Oblique", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.reference_italic {
	font-family:"Minion Pro", serif;
	font-style:italic;
	font-weight:normal;
}
span.subscript {
	vertical-align:sub;
}
span.table-number {
	font-size:8px;
}
span.video-list_italic {
	font-family:"Minion Pro", serif;
	font-style:italic;
	font-weight:normal;
}
span.xref-figure {
	color:#000000;
}
span.xref-table {
	color:#000000;
	font-size:11px;
}
span.xref-video {
	font-style:normal;
	font-weight:normal;
}
td.CellOverride-1 {
	padding-top:4px;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
	margin-bottom:66px;
	text-align:left;
}
li.ParaOverride-2 {
	margin-bottom:7px;
	text-indent:0px;
}
p.ParaOverride-3 {
	margin-top:15px;
}
p.ParaOverride-4 {
	margin-top:12px;
}
p.ParaOverride-5 {
	margin-bottom:26px;
}
p.ParaOverride-6 {
	margin-top:14px;
}
p.ParaOverride-7 {
	margin-top:21px;
}
p.ParaOverride-8 {
	margin-bottom:11px;
}
p.ParaOverride-9 {
	margin-top:19px;
}
p.ParaOverride-10 {
	margin-top:11px;
}
p.ParaOverride-11 {
	margin-bottom:27px;
	margin-left:18px;
}
p.ParaOverride-12 {
	margin-top:16px;
}
p.ParaOverride-13 {
	margin-top:13px;
}
p.ParaOverride-14 {
	margin-bottom:19px;
}
p.ParaOverride-15 {
	margin-bottom:27px;
}
p.ParaOverride-16 {
	margin-top:22px;
}
p.ParaOverride-17 {
	margin-top:25px;
}
p.ParaOverride-18 {
	text-align:center;
}
p.ParaOverride-19 {
	text-align:left;
}
span.CharOverride-1 {
	font-size:65%;
}
span.CharOverride-2 {
	font-size:9px;
}
span.CharOverride-3 {
	font-style:normal;
	font-weight:normal;
}
p._idGenParaOverride-1 {
	margin-left:18px;
}
span._idGenCharOverride-1 {
	font-size:65%;
}
col._idGenTableRowColumn-1 {
	width:76px;
}
col._idGenTableRowColumn-2 {
	width:39px;
}
col._idGenTableRowColumn-3 {
	width:105px;
}
col._idGenTableRowColumn-4 {
	width:113px;
}
tr._idGenTableRowColumn-5 {
	min-height:15px;
}
tr._idGenTableRowColumn-6 {
	min-height:16px;
}
tr._idGenTableRowColumn-7 {
	min-height:13px;
}
tr._idGenTableRowColumn-8 {
	min-height:12px;
}
tr._idGenTableRowColumn-9 {
	min-height:29px;
}
#_idContainer001 {
	-ms-transform:translate(0.000px,6.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,6.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,6.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,6.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:36.50px;
	z-index:0;
}
#_idContainer002 {
	-ms-transform:translate(2.040px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.040px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.63px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(2.040px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.040px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
	z-index:1;
}
#_idContainer003 {
	display:inline-block;
	height:43px;
	position:relative;
	width:37px;
}
#_idContainer004, #_idContainer005, #_idContainer009, #_idContainer011, #_idContainer013, #_idContainer015, #_idContainer017, #_idContainer019, #_idContainer021 {
	display:inline-block;
	height:25px;
	width:25px;
}
#_idContainer006, #_idContainer010, #_idContainer012, #_idContainer014, #_idContainer016, #_idContainer018, #_idContainer020, #_idContainer022 {
	display:inline-block;
	height:36px;
	width:36px;
}
#_idContainer007 {
	height:25px;
	width:25px;
}
#_idContainer008 {
	height:36px;
	width:36px;
}
#_idContainer024 {
	-ms-transform:translate(0.000px,566.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,566.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,566.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,566.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer025 {
	-ms-transform:translate(8.227px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8.227px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:568.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.227px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(8.227px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:355.54px;
	z-index:0;
}
#_idContainer026 {
	display:inline-block;
	height:602px;
	position:relative;
	width:372px;
}
#_idContainer027 {
	-ms-transform:translate(0.000px,437.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,437.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,437.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,437.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer028 {
	-ms-transform:translate(26.092px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(26.092px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:442.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(26.092px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(26.092px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.82px;
	z-index:0;
}
#_idContainer029 {
	display:inline-block;
	height:484px;
	position:relative;
	width:372px;
}
#_idContainer030 {
	-ms-transform:translate(0.000px,289.849px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,289.849px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,289.849px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,289.849px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer031 {
	-ms-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:294.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.62px;
	z-index:0;
}
#_idContainer032 {
	display:inline-block;
	height:336px;
	position:relative;
	width:372px;
}
#_idContainer033 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.44px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer034 {
	-ms-transform:translate(192.000px,51.460px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,51.460px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(192.000px,51.460px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,51.460px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer035 {
	display:inline-block;
	height:119px;
	position:relative;
	width:372px;
}
#_idContainer036 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:264.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:0;
}
#_idContainer037 {
	-ms-transform:translate(0.000px,262.643px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,262.643px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,262.643px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,262.643px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer038 {
	display:inline-block;
	height:279px;
	position:relative;
	width:372px;
}
#_idContainer039 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:287.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:0;
}
#_idContainer040 {
	-ms-transform:translate(0.000px,280.554px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,280.554px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,280.554px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,280.554px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer041 {
	display:inline-block;
	height:307px;
	position:relative;
	width:372px;
}
#_idContainer042 {
	-ms-transform:translate(0.000px,140.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,140.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,140.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,140.891px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer043 {
	-ms-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:145.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.62px;
	z-index:0;
}
#_idContainer044 {
	display:inline-block;
	height:167px;
	position:relative;
	width:372px;
}
#_idContainer045 {
	-ms-transform:translate(0.000px,57.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,57.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,57.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,57.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer046 {
	-ms-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:142.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer047 {
	display:inline-block;
	height:142px;
	position:relative;
	width:372px;
}
#_idContainer048 {
	-ms-transform:translate(0.000px,158.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,158.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,158.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,158.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer049 {
	-ms-transform:translate(42.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:163.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:288.00px;
	z-index:0;
}
#_idContainer050 {
	display:inline-block;
	height:185px;
	position:relative;
	width:372px;
}
#_idContainer051 {
	-ms-transform:translate(0.000px,51.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,51.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,51.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,51.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer052 {
	-ms-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:128.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer053, #_idContainer074 {
	display:inline-block;
	height:129px;
	position:relative;
	width:372px;
}
#_idContainer054 {
	-ms-transform:translate(0.000px,187.364px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,187.364px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,187.364px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,187.364px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer055 {
	-ms-transform:translate(46.735px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(46.735px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:191.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.735px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(46.735px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:278.53px;
	z-index:0;
}
#_idContainer056 {
	display:inline-block;
	height:213px;
	position:relative;
	width:372px;
}
#_idContainer057 {
	-ms-transform:translate(0.000px,96.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,96.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,96.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,96.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer058 {
	-ms-transform:translate(4.945px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.945px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.945px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.945px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:362.21px;
	z-index:0;
}
#_idContainer059 {
	display:inline-block;
	height:133px;
	position:relative;
	width:372px;
}
#_idContainer060 {
	display:inline-block;
	height:241px;
	width:371px;
}
#_idContainer062 {
	-ms-transform:translate(0.000px,88.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,88.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,88.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,88.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer063 {
	-ms-transform:translate(0.404px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.404px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:93.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.404px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.404px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.19px;
	z-index:0;
}
#_idContainer064 {
	display:inline-block;
	height:135px;
	position:relative;
	width:372px;
}
#_idContainer065 {
	-ms-transform:translate(0.000px,95.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,95.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,95.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,95.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer066 {
	-ms-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.62px;
	z-index:0;
}
#_idContainer067 {
	display:inline-block;
	height:152px;
	position:relative;
	width:372px;
}
#_idContainer069 {
	-ms-transform:translate(0.000px,239.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,239.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,239.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,239.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer070 {
	-ms-transform:translate(0.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:241.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.00px;
	z-index:0;
}
#_idContainer071 {
	display:inline-block;
	height:286px;
	position:relative;
	width:372px;
}
#_idContainer072 {
	-ms-transform:translate(0.002px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.002px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.002px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.002px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.99px;
	z-index:0;
}
#_idContainer073 {
	-ms-transform:translate(0.000px,92.941px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,92.941px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,92.941px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,92.941px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer075 {
	-ms-transform:translate(0.000px,107.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,107.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,107.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,107.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer076 {
	-ms-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.62px;
	z-index:0;
}
#_idContainer077 {
	display:inline-block;
	height:144px;
	position:relative;
	width:372px;
}
#_idContainer079 {
	display:inline-block;
	height:321px;
	width:371px;
}
#_idContainer080 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:222.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.62px;
	z-index:0;
}
#_idContainer081 {
	-ms-transform:translate(0.000px,217.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,217.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,217.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,217.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer082, #_idContainer102 {
	display:inline-block;
	height:274px;
	position:relative;
	width:372px;
}
#_idContainer083 {
	-ms-transform:translate(0.085px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.085px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:225.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.085px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.085px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.83px;
	z-index:0;
}
#_idContainer084 {
	-ms-transform:translate(0.000px,224.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,224.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,224.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,224.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer085 {
	display:inline-block;
	height:261px;
	position:relative;
	width:372px;
}
#_idContainer086 {
	-ms-transform:translate(0.000px,117.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,117.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,117.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,117.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:0;
}
#_idContainer087 {
	-ms-transform:translate(62.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:116.97px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(62.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:246.00px;
	z-index:1;
}
#_idContainer088 {
	display:inline-block;
	height:153px;
	position:relative;
	width:372px;
}
#_idContainer089 {
	-ms-transform:translate(0.000px,75.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,75.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,75.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,75.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer090 {
	-ms-transform:translate(0.718px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.718px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:80.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.718px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.718px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.56px;
	z-index:0;
}
#_idContainer091 {
	display:inline-block;
	height:112px;
	position:relative;
	width:372px;
}
#_idContainer092 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:0;
}
#_idContainer093 {
	-ms-transform:translate(0.000px,162.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,162.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,162.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,162.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer094 {
	display:inline-block;
	height:218px;
	position:relative;
	width:372px;
}
#_idContainer095 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:145.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:0;
}
#_idContainer096 {
	-ms-transform:translate(0.000px,140.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,140.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,140.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,140.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer097 {
	display:inline-block;
	height:187px;
	position:relative;
	width:372px;
}
#_idContainer099 {
	display:inline-block;
	height:154px;
	overflow:hidden;
	width:180px;
}
#_idContainer100 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:273.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer101 {
	-ms-transform:translate(192.000px,103.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,103.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(192.000px,103.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,103.516px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer103 {
	-ms-transform:translate(0.000px,129.221px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,129.221px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,129.221px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,129.221px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:372.00px;
	z-index:1;
}
#_idContainer104 {
	-ms-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.688px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.62px;
	z-index:0;
}
#_idContainer105 {
	display:inline-block;
	height:175px;
	position:relative;
	width:372px;
}
#_idContainer107 {
	display:inline-block;
	height:73px;
	width:371px;
}
#_idContainer108 {
	-ms-transform:translate(0.000px,48.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,48.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,48.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,48.662px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:1;
}
#_idContainer109 {
	-ms-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:123.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
	z-index:0;
}
#_idContainer110 {
	display:inline-block;
	height:124px;
	position:relative;
	width:372px;
}
img._idGenObjectAttribute-1 {
	height:18px;
	width:18px;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-3 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
img._idGenObjectAttribute-4 {
	-ms-transform:translate(-0.001%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(-0.001%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
